  .font-8{
    font-size:8px !important;
   }
  .font-8{
     font-size:8px !important;
   }
  .font-10{
     font-size:10px !important;
   }
   .font-12{
     font-size:12px !important;
   }
   .font-14{
     font-size:14px !important;
   }
   .font-16{
     font-size:16px !important;
   }
   .font-18{
     font-size:18px !important;
   }
   .font-20{
     font-size:20px !important;
   }
   .font-22{
     font-size:22px !important;
   }
   .font-24{
     font-size:24px !important;
   }
   .font-26{
     font-size:26px!important;
   }
   .font-28{
     font-size:28px !important;
   }
   .font-30{
     font-size:30px !important;
   }
   .font-32{
     font-size:32px !important;
   }
   .font-34{
     font-size:34px !important;
   }
   .font-38{
     font-size:38px !important;
   }

@media only screen and (max-width:700px){
  .font-sm-8{
    font-size:8px !important;
   }
  .font-sm-8{
     font-size:8px !important;
   }
  .font-sm-10{
     font-size:10px !important;
   }
   .font-sm-12{
     font-size:12px !important;
   }
   .font-sm-14{
     font-size:14px !important;
   }
   .font-sm-16{
     font-size:16px !important;
   }
   .font-sm-18{
     font-size:18px !important;
   }
   .font-sm-20{
     font-size:20px !important;
   }
   .font-sm-22{
     font-size:22px !important;
   }
   .font-sm-24{
     font-size:24px !important;
   }
   .font-sm-26{
     font-size:26px !important;
   }
   .font-sm-28{
     font-size:28px !important;
   }
   .font-sm-30{
     font-size:30px !important;
   }
   .font-sm-32{
     font-size:32px !important;
   }
   .font-sm-34{
     font-size:34px !important;
   }
   .font-sm-38{
     font-size:38px !important;
   }
   .pl-sm-10{
    padding:10px !important;
	}
	.pl-sm-12{
    padding:12px !important;
	}
	.pl-sm-14{
    padding:14px !important;
	}
	.pl-sm-16{
    padding:16px !important;
	}
	.pl-sm-18{
    padding:18px !important;
	}
	.pl-sm-20{
    padding:20px !important;
	}
	.pl-sm-22{
    padding:22px !important;
	}
	.pl-sm-24{
    padding:24px !important;
	}
	.pl-sm-28{
    padding:28px !important;
	}
	.pl-sm-30{
    padding:30px !important;
	}.p-sm-32{
    padding:32px !important;
	}
    .pl-sm-34{
    padding:34px !important;
	}
	 .pl-sm-10{
    padding:10px !important;
	}
	.pl-sm-12{
    padding:12px !important;
	}
	.pl-sm-14{
    padding:14px !important;
	}
	.pl-sm-16{
    padding:16px !important;
	}
	.pl-sm-18{
    padding:18px !important;
	}
	.pl-sm-20{
    padding:20px !important;
	}
	.pl-sm-22{
    padding:22px !important;
	}
	.pl-sm-24{
    padding:24px !important;
	}
	.pl-sm-28{
    padding:28px !important;
	}
	.pl-sm-30{
    padding:30px !important;
	}.pl-sm-32{
    padding:32px !important;
	}
    .pl-sm-34{
    padding:34px !important;
	}
	
 }